body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.timeline article.ghost {
	display: none;
}

.top-bar,
.top-bar ul,
.top-bar a {
	font-weight: bold;
  z-index: 999;
  background-color: #292c2f;
	color: #FFFFFF;
	border-width: 0;
}

.top-bar-right {
	text-transform: uppercase;
}

.top-bar-left img {
  height: 40px;
}

.dropdown.menu > li.is-active > a {
  color: #FFFFFF; }

.dropdown-pane {
  border: 0px;
}

#title-image {
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  width: 100%;
  margin-bottom: 3em;

}

footer {
	z-index: 999;
  background-color: #292c2f;
	color: rgba(255,255,255,0.9);
	padding: 1em;
	text-transform: none;
}

footer h2 {
	margin-bottom: 0em;
}

footer hr {
	margin-top: 0em;
}


footer ul {
	list-style-type: none;
}

.right-footer-item,
.left-footer-item {
	color: rgba(255,255,255,0.8);
	font-size: 0.9em;
}

.right-footer-item {
	padding: 0 4em;
}

.right-footer-item .right-page-item,
.right-footer-item .left-page-item {
	width: 48.6%;
}

.right-footer-item .button{
	color: inherit;
	border-color: inherit;
}

.right-footer-item .button:visited {
	color: inherit;
	border-color: inherit;
}

.right-footer-item .button:hover {
	color: rgba(170, 170, 170, 0.9);
	border-color: rgba(170, 170, 170, 0.9);
}

.right-footer-item .button:active{
	color: inherit;
	border-color: inherit;
}

.right-footer-item .right-page-item  {
	margin-left: 1%;
}

.right-footer-item .left-page-item  {
	margin-right: 1%;
}

.left-footer-item {
	display: inline-block;
}

footer iframe {
	display: inline-block;
	margin-left: 15%;
	width: 35%;
}

footer h2 {
	font-size: 1.5em;
	text-align: center;
}

footer .icon-list {
	text-align: center;
	margin-top: 2em;
}

footer .icon-list li {
	display: inline-block;
	vertical-align: bottom;
	width: 3em;
	height: 4em;
}

footer .icon {
	color: rgba(255,255,255,0.8);
	font-size: 2em;
}

footer .icon:hover {
	font-size: 2.1em;
	color: rgba(200, 200, 200, 0.9);
}

#timeline-section-identifier {
	padding-top: 1em;
}

.timeline .blurb {
	margin-top: 0;
	text-align: justify;
}

.timeline .blurb, .season-summary .blurb, .center, .timeline-view-more, .timeline-categories {
	display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-categories {
	margin-bottom: 0;
	margin-top: 1em;
}

.timeline-categories button {
	margin: 1em;
}

.timeline-view-more {
	margin-bottom: 3em;
}

.exec-photo-grid {
  display: flex;
  justify-content: center;
}

.third {
	margin: 0 1%;
}

.sponsor-section {
	margin-bottom: 2em;
}

.sponsor-section h2 {
	margin: 1em;
}

.sponsor-section img {
	width: 20vw;
	padding: 1vw;
}

section h1, section h2 {
  text-align: center;
}

.community {
	margin-top: 0;
}

h1, h2 {
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-seif;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h2 {
	font-size: 2em;
}

.year-section h2 {
	margin-left: 2em;
	text-align: left;
}

.year-section .cell {
	padding: 2em;
}

.year-section .card p {
	text-align: center;
	margin: 0.5em;
}

.year-section .card {
	box-shadow: 0;
	-webkit-transition: box-shadow 0.5s; /* Safari */
  transition: box-shadow 0.5s;
}

.year-section .card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow {
	box-shadow: 0;
	-webkit-transition: box-shadow 0.5s; /* Safari */
  transition: box-shadow 0.5s;
}

.shadow:hover {
	box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.blurb {
  width: 100%;
  padding: 1em;
  font-family: Roboto;
  text-align: center;
}

.blurb p {
  font-weight: 300;
  line-height: 200%;
  font-size: 18;
}

.blurb img {
  display: inline-block;
  width: 20em;
}

.blurb-text-group {
  display: inline-block;
  width: 55%;
  margin: 5%;
}

.subteam-summary {
  padding: 2em;
}

.card h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.card p {
  text-align: justify;
}

.exec-photos p {
	text-align: center;
}

.exec-photos img {
	image-orientation: from-image;
}

.drive-team-history {
	margin-top: 3em;
}

.drive-team-history h2 {
	text-align: center;
}

.drive-team-history .grid-x {
	justify-content: center;
}

.drive-team-history h5 {
	font-weight: bold;
}

.drive-team-history .callout {
	border: 0;
}

._404 {
	height: 60%;
}

/* Slideshow --> https://www.w3schools.com/howto/howto_js_slideshow.asp **/

	* {box-sizing:border-box}

	/* Slideshow container */
	.slideshow-container {
	  max-width: 1000px;
	  position: relative;
	  margin: auto;
	}

	/* Hide the images by default */
	.mySlides {
	  display: none;
	}

	/* Next & previous buttons */
	.prev, .next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  margin-top: -22px;
	  padding: 16px;
	  color: white;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
	  background-color: rgba(0,0,0,0.8);
	}

	/* Caption text */
	.text {
	  color: #f2f2f2;
	  font-size: 15px;
	  padding: 8px 12px;
	  position: absolute;
	  bottom: 8px;
	  width: 100%;
	  text-align: center;
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: #f2f2f2;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}

	/* The dots/bullets/indicators */
	.dot {
	  cursor: pointer;
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
	  background-color: #717171;
	}

	/* Fading animation */
	.fade {
	  -webkit-animation-name: fade;
	  -webkit-animation-duration: 1.5s;
	  animation-name: fade;
	  animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
	  from {opacity: .4}
	  to {opacity: 1}
	}

	@keyframes fade {
	  from {opacity: .4}
	  to {opacity: 1}
	}

/* End of slideshow */

.mentor-list .cell {
	margin-bottom: 1em;
}

/* Hover image --> https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp */

	.hover-image-container {
	  position: relative;
	}

	.hover-image {
	  display: block;
	  width: 100%;
	  height: auto;
	}

	.hover-overlay {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: .5s ease;
	  background-color: #000000;
	}

	.hover-image-container:hover .hover-overlay {
	  opacity: 0.7;
	}

	.hover-text {
	  color: white;
	  font-size: 20px;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  text-align: center;
	}

/* End of hover image */

.season-reveal-video {
	width:50%;
	height: 50vh;
}

.season-achievments {
	margin: 2em;
}

.season-achievments h2 {
	text-align: center;
	margin: 1em;
}

.gallery-image {
	width: 23%;
	margin: 1%;
}

.button {
	color: rgba(0,0,0,0);
}
