body{
	font-family: 'Roboto', sans-serif;
}

.top-bar,
.top-bar ul,
.top-bar a {
  z-index: 999;
  background-color: #292c2f;
  color: #FFFFFF; }

.top-bar-left img {
  height: 40px;
}

.dropdown.menu > li.is-active > a {
  color: #FFFFFF; }

.dropdown-pane {
  border: 0px;
}

#bg {
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 3em;

}

.timeline {
  margin-top: 5em;
}

.timeline article {
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  text-align: center;
}

.blurb h1, section h1 {
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-seif;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.blurb {
  width: 100%;
  padding: 2em;
  font-family: Roboto;
  text-align: center;
}

.blurb p {
  font-weight: 300;
  line-height: 200%;
  font-size: 18;
}

.blurb img {
  display: inline-block;
  width: 20em;
}

.blurb-text-group {
  display: inline-block;
  width: 60%;
  margin: 5%;
}
